:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black-1: #262623;
  --black-2: #101010;
  --red-1: #ED3A3A;
  --green-1: #6AFF49;
  --orange-1: #FFDB49;
  --beige-1: #F5F5E8;

  --max-width: 450px;
  
  --half-height: 30px;
  --border-radius: 6px;
}

@font-face {
  font-family: "ITC Souvenir";
  font-weight: 500;
  src: url(/fonts/itc-souvenir-medium.woff2)format("woff2")
}

@font-face {
  font-family: "ITC Souvenir";
  font-weight: 600;
  src: url(/fonts/itc-souvenir-semibold.woff2)format("woff2")
}

@font-face {
  font-family: "ITC Souvenir";
  font-weight: 700;
  src: url(/fonts/itc-souvenir-bold.woff2)format("woff2")
}

@font-face {
  font-family: "Azo Sans 2";
  font-weight: 900;
  src: url(/fonts/AzoSans2CondTest-Black.woff2)format("woff2")
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Azo Sans 2";
  line-height: 1;
  background-color: var(--beige-1);
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--black-1);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  background-image: repeating-linear-gradient(#000, #000 2px, #0000 3px, #0000 20px), repeating-linear-gradient(#000, #000 2px, #0000 3px, #0000 20px);
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 10px 100%, 10px 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* Animations! */
@keyframes mahomes-wiggle {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(4px, 4px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 5px);
  }
  80% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes mahomes-cry {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0px, 12px);
  }
  40% {
    transform: translate(0px, 3px);
  }
  60% {
    transform: translate(0px, 15px);
  }
  80% {
    transform: translate(0px, 6px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes float {
  0% {
    transform: scale(1) translate(0, 0) rotateZ(0deg);
  }
  20% {
    transform: scale(1.02) translate(0, 0) rotateZ(3deg);
  }
  40% {
    transform: scale(1) translate(0, 0) rotateZ(-8deg);
  }
  60% {
    transform: scale(0.98) translate(0, 0) rotateZ(1deg);
  }
  80% {
    transform: scale(1.1) translate(0, 0) rotateZ(-7deg);
  }
  100% {
    transform: scale(1) translate(0, 0) rotateZ(0deg);
  }
}
